/* style for color picker */

body,html{
	width: 100%;
}

div{
	display: block;
}

#container{
	width: 100%;
	text-align: center;
}

#app-name{
	font-family: 'Julee', cursive;
	/**font-family: 'Montserrat Subrayada', sans-serif;
	font-family: 'Buda', cursive;*/
	font-size: 20px;
	text-align: left;
	margin: 20px;
	position: absolute;
	top: 15px;
	left: 180px;
}

#scream-ripples{
	width: 75%;
	height: 650px;
	margin: 0 auto;
	text-align: left;
}

canvas{
	border: 1px solid #7E92A3;
}
